{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">Flux RSS</a>
</nav>

<form method="POST">
    <div class="form-group">
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label() }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}
    {% endfor %}
    </div>
</form>


{% endblock %}
