{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Flux RSS</a>
    <form class="form-inline">
        <a href="deconnexion" class="btn btn-danger" role="button">Déconnexion</a>
    </form>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>Mes flux</h2>
        <a href="newflow" class="btn btn-primary" role="button">Ajouter un flux</a>
    </div>
</div>


        {% for item in root.iter('item') %}

            {% if current_user.id|string == item.find('user_id').text %}
                <div class="card">
                  <h5 class="card-header">{{item.find('title').text}}</h5>
                  <div class="card-body">
                    <h5 class="card-title">{{item.find('link').text}}</h5>
                    <p class="card-text">{{item.find('description').text}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            {% endif %}
        {% endfor %}




{% endblock %}