{% extends 'base.html' %}


{% block body %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Flux RSS</a>
  <form class="form-inline">
    <a href="connexion" class="btn btn-success" role="button">Connexion</a>
  </form>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Bienvenue</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        <a href="connexion" class="btn btn-success" role="button">Connexion</a>
    </div>
</div>
<form method="POST">
    <ul style="list-style-type:none;">
       {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
                <li>
                    <label>{{ field.label() }}</label>
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}
                    </li>
    {% endfor %}
    <li><button class="btn btn-primary" type="submit">Inscription</button></li>
        </ul>
</form>
{% endblock %}
