{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">Flux RSS</a>
  <form class="form-inline">
    <a href="deconnexion" class="btn btn-danger" role="button">Déconnexion</a>
  </form>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>Formulaire d'ajout de flux</h2>
        <a href="flow" class="btn btn-primary" role="button">Voir mes flux</a>
    </div>
</div>

<form method="POST">
    <ul style="list-style-type:none;">
       {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
                <li>
                   {{ field.label() }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}
                </li>
    {% endfor %}
    <li><a class="btn btn-primary" type="submit" href="flow">Ajouter</a></li>
        </ul>
</form>


{% endblock %}